// Width
@for $i from 1 through 50 {
  $value: $i * 2;
  .#{$prefix}w-#{$value} {
    width: $value*1%;
  }
}

// Width in px
@for $i from 1 through 20 {
  $value: $i * 50;
  .#{$prefix}wpx-#{$value} {
    width: $value*1px;
  }
}

// Height
@for $i from 1 through 20 {
  $value: $i * 5;
  .#{$prefix}h-#{$value} {
    height: $value*1%;
  }
}

// hide
.#{$prefix}vh-100 {
  min-height: 100vh;
}

// hide
.#{$prefix}hide {
  display: none !important;
}

// link
.#{$prefix}link {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

// text center
.#{$prefix}center {
  text-align: center !important;
}

// text left
.#{$prefix}left {
  text-align: left !important;
}

// text right
.#{$prefix}right {
  text-align: right !important;
}
