.#{$prefix}flex {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;

  &.inline {
    display: inline-flex;
  }

  &.middle {
    align-items: center;
  }

  &.top {
    align-items: flex-start;
  }

  &.foot {
    align-items: flex-end;
  }

  &.left {
    justify-content: flex-start;
    text-align: left;
  }

  &.center {
    justify-content: center;
    text-align: center;
  }

  &.right {
    justify-content: flex-end;
    text-align: right;
  }

  &.wide {
    justify-content: space-between;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.wrap-start {
    align-content: flex-start;
  }

  &.wrap-end {
    align-content: end;
  }

  &.wrap-space {
    align-content: space-between;
  }
}