.#{$prefix}input {
  border: 1px solid;
  background: map_get($colors, 'white');
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
@include bd_color();

.#{$prefix}input-error {
  font-size: 0.7rem;
  margin-top: 0.3rem;
  color: map_get($colors, 'red');
  text-align: left;
  width: 100%;
}


:not(output):-moz-ui-invalid {
  box-shadow: none;
}

.#{$prefix}input-clear{
  position: absolute;
  cursor: pointer;
  right: 5px;

  &:hover{
    opacity: 0.6;
  }
}
