.#{$prefix}modal {
  position: fixed;
  z-index: 999;
  overflow: auto;
  max-height: 95%;
  top: 20%;
  @include blockShadow;

  // Width in px
  @for $i from 1 through 20 {
    $value: $i * 50;
    &.wpx-#{$value} {
      width: $value*1px;
      left: 50%;
      margin-left: -($value*1px)/2
    }
  }

  @each $key, $value in $mobile {
    @media only screen and (max-width: $value) {
      width: 100% !important;
      left: 0 !important;
      top: 0 !important;
      margin-left: 0 !important;
    }
  }

  & .head {
    padding: map_get($sizes, 3);
    font-family: $fontBold;
    position: relative;
    display: flex;
    justify-content: space-between;

    & .text {
      display: flex;
      align-items: center;
    }

    & .close {
      cursor: pointer;
      width: 10%;
      display: flex;
      justify-content: flex-end;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  & .content {
    font-family: $fontRegular;
    margin-top: map_get($sizes, 3);
    padding: map_get($sizes, 5) map_get($sizes, 5) map_get($sizes, 3) map_get($sizes, 5);
  }

  & .content-dailog {
    font-family: $fontRegular;
    padding: map_get($sizes, 3);
    text-align: center;
  }

  & .foot-dailog {
    padding: map_get($sizes, 3);
  }

  & .foot {
    padding: map_get($sizes, 5);
  }
}

.#{$prefix}modal-bg {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 998;
}