.#{$prefix}nav {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  & .end {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  & .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  & .item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: map_get($sizes, 3);
    padding-right: map_get($sizes, 3);

    &.link {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
        @include animateHover;
      }
    }
  }
}