.#{$prefix}table {
  width: 100%;
  border-spacing: 0;

  & thead {
    & tr {
      & th {
        font-family: $fontBold;
        padding: map_get($sizes, 2);
        border-bottom: 2px solid map_get($colors, 'grey-3');
        text-align: center;
        color: map_get($colors, 'dark');
        background-color: map_get($colors, 'grey-1');

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  & tbody {
    & tr {
      &.hover {
        &:hover {
          background-color: map_get($colors, 'grey-5');
          @include animateHover;
        }
      }

      &.use {
        background-color: map_get($colors, 'grey-3');
      }

      &.click {
        cursor: pointer;
      }

      & td {
        border-bottom: 1px solid map_get($colors, 'grey-3');
        padding: map_get($sizes, 1);
        text-align: center;
        color: map_get($colors, 'dark');

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  & tfoot {
    & tr {
      & th {
        font-family: $fontBold;
        padding: map_get($sizes, 2);
        border-bottom: 2px solid map_get($colors, 'grey');
        text-align: center;
        color: map_get($colors, 'dark');
        background-color: map_get($colors, 'grey-1');

        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }
}