@each $key, $value in $mobile {
  @media only screen and (max-width: $value) {
    .cs-menu-head-mobile {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: baseline;
      background: map-get($colors, 'dark');
      z-index: 999;
    }

    .cs-menu-head-mobile-show {
      display: flex !important;
    }
  }
}

.cs-client-menu {
  &.full {
    width: 250px;
  }

  &.short {
    width: 50px;
  }

  @each $key, $value in $mobile {
    @media only screen and (max-width: $value) {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      z-index: 999;

      &.full {
        width: 100% !important;
      }

      &.short {
        display: none;
      }
    }
  }
}